.background {
    -fx-background-color: linear-gradient(to bottom right, #101010, #4e4e4e);
    -fx-font-family: "Segoe UI", Roboto, sans-serif;
}

.main-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.glass-card {
    -fx-background-color: rgba(255,255,255,0.15);
    -fx-background-radius: 20;
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 20, 0.3, 0, 5);
    -fx-border-color: rgba(255,255,255,0.4);
    -fx-border-radius: 20;
    -fx-border-width: 1;
}

.card-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.form-grid Label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-opacity: 0.85;
}


.primary-btn {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-background-radius: 12;
    -fx-font-weight: bold;
}
.primary-btn:hover {
    -fx-background-color: #45a049;
}

.danger-btn {
    -fx-background-color: #e63946;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-background-radius: 12;
    -fx-font-weight: bold;
}
.danger-btn:hover {
    -fx-background-color: #d62839;
}

.icon-btn {
    -fx-background-color: rgba(255,255,255,0.25);
    -fx-background-radius: 50;
    -fx-padding: 10 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.status-label {
    -fx-font-size: 14px;
    -fx-text-fill: #dce2f0;
    -fx-padding: 15 0 0 0;
}

.client-table .column-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: #414141;
}

.client-table .table-column {
    -fx-alignment: CENTER;
}

.table-placeholder {
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-opacity: 0.6;
    -fx-animation: fade 2s infinite alternate;
}


